<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor="let country of countries">
      <ion-card [routerLink]="['/description',country.id]">
        <img src={{country.image}}>
        <h3>{{country.capital}}</h3>
        <h4>{{country.name}}</h4>
        <p class="ellipsis">{{country.description}}</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
